
.main-page {
    margin: 0;
    padding: 0;
    display: block;
    background-image: url("../static/backgroundMETA.jpg");
}

header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-image: url("../static/header_background.jpg");
    background-color: rgb(175, 198, 218);
}

.title {
    color: rgb(44, 113, 156);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    color: white;
}

.legend {
    margin: 20px 0;
}

.legend_title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button.logout {
    position: absolute;
    right: 50px;
    top: 12px;
    height: auto;
    width: auto;
    white-space: nowrap;
    background-color: transparent;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}

button.logout:hover {
    cursor: pointer;
    background-color: rgb(135, 215, 215);
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.colored-box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.lands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    font-size: large;
    background-color: blue;
}

.land-box {
    height: 120px;
    width: 120px;
    border: 1px solid grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background_grey {
    background-color: rgb(166, 166, 172);
}

.background_red {
    background-color: rgb(236, 21, 18);
}

.background_green {
    background-color: rgb(91, 229, 57);
}

.background_light_blue {
    background-color: rgb(120, 150, 213);
}

.background_dark_blue {
    background-color: rgb(4, 57, 169);
}